{% extends "base.html" %} {% block content %}
<section class="splash">
  <div class="splash-img-container">
    <div class="splash-img" id="splash-1"></div>
    <div class="splash-img" id="splash-2"></div>
  </div>
  <h1 class="cxu-words">Welcome to the GFG Student Chapter of MGM University</h1>
  <main class="cxu-fade">
    Empowering Tomorrow's Tech Leaders Today Join the MGMU GFG Student Chapter,
    where innovation meets community. Our mission is to foster a collaborative
    environment for aspiring developers, providing opportunities for learning,
    networking, and personal growth. From hands-on workshops and coding
    challenges to industry insights and mentorship programs, we are dedicated to
    helping you unlock your full potential. Explore. Learn. Innovate. Together,
    we can build a brighter tech future.
  </main>
</section>
<!-- Hero section end -->

<!-- Logo slider section start -->
<section class="logo__slider-area">
  <div class="container">
    <div class="logo__slider-wrapper">
      <div class="logo__slider-left">
        <h3 class="title">
          Different <br />
          Departments
        </h3>
      </div>
      <div class="logo__slider-right">
        <div class="swiper logo__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo.png" alt="Logo" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo-2.png" alt="Logo" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo-3.png" alt="Logo" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo-4.png" alt="Logo" />
              </div>
            </div>


            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo.png" alt="Logo" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo-2.png" alt="Logo" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo-3.png" alt="Logo" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="logo">
                <img src="assets/imgs/client/logo-4.png" alt="Logo" />
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Logo slider section end -->

<!-- About section start -->
<section class="service__area-4 pt-140 pb-140">
  <div class="container">
    <div class="service__top-2">
      <h2 class="sec-title cxu-words">About <br />GFG MGM University</h2>
    </div>

    <div class="cxu__service style-4">
      <div class="service-item cxu-fade cards" data-ease="back">
        <div class="icon">
          <img src="assets/imgs/about/vision.png" alt="Icon" />
        </div>
        <div class="content">
          <h3 class="title"><a href="about">Our Vision </a></h3>
          <p>
            To establish ourselves as the premier destination for learning and
            applying computer science principles.
          </p>
          <div class="link">
            <a href="about"
              >Learn more <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="service-item cxu-fade cards" data-ease="back">
        <div class="icon">
          <img src="assets/imgs/about/mission.png" alt="Icon" />
        </div>
        <div class="content">
          <h3 class="title"><a href="about">Our Mission</a></h3>
          <p>
            To empower enthusiasts worldwide, providing them with high-quality
            educational resources and a supportive environment to thrive in
            their journey of mastering technical knowledge.
          </p>
          <div class="link">
            <a href="about"
              >Learn more <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="hero-fade"
    data-ease="back"
    data-delay="1.5"
    style="text-align: center"
  >
    <a
      class="cxu-btn-primary get-started"
      href="contact.html"
      style="display: inline-block"
      >Get Started</a
    >
  </div>
</section>
<!-- About section end -->

<!-- Service section start -->
<section class="service__area pt-140 pb-140">
  <div class="container">
    <div class="service__top">
      <h2 class="sec-sub-title cxu-chars">(02) Link Tree</h2>

      <h3 class="sec-title cxu-words">
        Find Our<br />Socials <i class="fa-solid fa-share-from-square"></i>
      </h3>
    </div>

    <div class="cxu__service style-1">
      <div class="service-item cxu-fade" data-ease="back">
        <div class="number">/01</div>
        <h4 class="title">
          <i class="fa-brands fa-linkedin-in"></i><br />Linkedin
        </h4>
        <ul class="services">
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Linkedin
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Linkedin
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Linkedin
          </li>
        </ul>
        <div class="link">
          <a href="https://in.linkedin.com/company/geeksforgeeks-jnec">
            <span class="icon-1"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
            <span class="icon-2"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
          </a>
        </div>
        <div class="hover-img" data-depth="10">
          <img src="assets/imgs/portfolio/s1.jpg" alt="Image" />
        </div>
      </div>
      <div class="service-item cxu-fade" data-ease="back">
        <div class="number">/02</div>
        <h4 class="title">
          <i class="fa-brands fa-instagram"></i><br />Instagram
        </h4>
        <ul class="services">
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Instagram
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Instagram
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Instagram
          </li>
        </ul>
        <div class="link">
          <a href="https://www.instagram.com/gfgmgmu">
            <span class="icon-1"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
            <span class="icon-2"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
          </a>
        </div>
        <div class="hover-img" data-depth="10">
          <img src="assets/imgs/portfolio/s2.jpg" alt="Image" />
        </div>
      </div>
      <div class="service-item cxu-fade" data-ease="back">
        <div class="number">/03</div>
        <h4 class="title">
          <i class="fa-brands fa-github"></i> <br />GitHub
        </h4>
        <ul class="services">
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />GitHub</li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />GitHub</li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />GitHub</li>
        </ul>
        <div class="link">
          <a href="https://x.com/gfgmgmu">
            <span class="icon-1"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
            <span class="icon-2"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
          </a>
        </div>
        <div class="hover-img" data-depth="10">
          <img src="assets/imgs/portfolio/s3.jpg" alt="Image" />
        </div>
      </div>
      <div class="service-item cxu-fade" data-ease="back">
        <div class="number">/04</div>
        <h4 class="title">
          <i class="fa-brands fa-twitter"></i> <br />Twitter
        </h4>
        <ul class="services">
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Twitter</li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Twitter</li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Twitter</li>
        </ul>
        <div class="link">
          <a href="https://x.com/gfgmgmu">
            <span class="icon-1"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
            <span class="icon-2"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
          </a>
        </div>
        <div class="hover-img" data-depth="10">
          <img src="assets/imgs/portfolio/s4.jpg" alt="Image" />
        </div>
      </div>
      <div class="service-item cxu-fade" data-ease="back">
        <div class="number">/05</div>
        <h4 class="title">
          <i class="fa-brands fa-discord"></i> <br />Discord
        </h4>
        <ul class="services">
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Discord</li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Discord</li>
          <li><img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Discord</li>
        </ul>
        <div class="link">
          <a href="https://discord.com/invite/jRUgw8YS">
            <span class="icon-1"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
            <span class="icon-2"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
          </a>
        </div>
        <div class="hover-img">
          <img src="assets/imgs/portfolio/s5.jpg" alt="Image" />
        </div>
      </div>
      <div class="service-item cxu-fade" data-ease="back">
        <div class="number">/06</div>
        <h4 class="title">
          <i class="fa-brands fa-facebook-f"></i> <br />Facebook
        </h4>
        <ul class="services">
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Facebook
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Facebook
          </li>
          <li>
            <img src="assets/imgs/shape/arrow-3.svg" alt="Icon" />Facebook
          </li>
        </ul>
        <div class="link">
          <a href="https://www.facebook.com/gfgmgmu">
            <span class="icon-1"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
            <span class="icon-2"
              ><img src="assets/imgs/shape/arrow-4.svg" alt="Icon"
            /></span>
          </a>
        </div>
        <div class="hover-img">
          <img src="assets/imgs/portfolio/s6.jpg" alt="Image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service section end -->

<!-- Portfolio section start -->
<section class="portfolio__area pt-140 pb-140">
  <div class="container">
    <div class="portfolio__top">
      <div class="portfolio__title">
        <h2 class="sec-sub-title cxu-chars">(03) Events Upcomming</h2>
        <h3 class="sec-title cxu-words">
          Events & <br />
          Workshops
        </h3>
      </div>
      <div class="portfolio__text cxu-lines">
        <p>
          We conduct Different Events and workshops for students that help them to learn more!...</p>
      </div>
    </div>
  </div>
  <div class="portfolio__btm">
    <div class="cxu--portfolio style-1">
      <div class="swiper portfolio__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="portfolio-item cxu-fade" data-ease="back">
              <div class="thumb">
                <a href="javascript:void(0);"
                  ><img src="assets/imgs/portfolio/1.jpg" alt="Image"
                /></a>
              </div>
              <h3 class="title">
                <a href="javascript:void(0);">Event_Name</a>
              </h3>
              <ul>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Domain</a></li>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Hosted-by</a></li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="portfolio-item cxu-fade" data-ease="back">
              <div class="thumb">
                <a href="javascript:void(0);"
                  ><img src="assets/imgs/portfolio/1.jpg" alt="Image"
                /></a>
              </div>
              <h3 class="title">
                <a href="javascript:void(0);">Event_Name</a>
              </h3>
              <ul>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Domain</a></li>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Hosted-by</a></li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="portfolio-item cxu-fade" data-ease="back">
              <div class="thumb">
                <a href="javascript:void(0);"
                  ><img src="assets/imgs/portfolio/1.jpg" alt="Image"
                /></a>
              </div>
              <h3 class="title">
                <a href="javascript:void(0);">Event_Name</a>
              </h3>
              <ul>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Domain</a></li>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Hosted-by</a></li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="portfolio-item cxu-fade" data-ease="back">
              <div class="thumb">
                <a href="javascript:void(0);"
                  ><img src="assets/imgs/portfolio/1.jpg" alt="Image"
                /></a>
              </div>
              <h3 class="title">
                <a href="javascript:void(0);">Event_Name</a>
              </h3>
              <ul>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Domain</a></li>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Hosted-by</a></li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="portfolio-item cxu-fade" data-ease="back">
              <div class="thumb">
                <a href="javascript:void(0);"
                  ><img src="assets/imgs/portfolio/1.jpg" alt="Image"
                /></a>
              </div>
              <h3 class="title">
                <a href="javascript:void(0);">Event_Name</a>
              </h3>
              <ul>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Domain</a></li>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Hosted-by</a></li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="portfolio-item cxu-fade" data-ease="back">
              <div class="thumb">
                <a href="javascript:void(0);"
                  ><img src="assets/imgs/portfolio/1.jpg" alt="Image"
                /></a>
              </div>
              <h3 class="title">
                <a href="javascript:void(0);">Event_Name</a>
              </h3>
              <ul>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Domain</a></li>
                <li><a href="javascript:void(0);" class="cxu-btn-border">Event_Hosted-by</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navigation">
          <div class="btn-next">
            <img src="assets/imgs/shape/arrow-7.svg" alt="Icon" />
          </div>
          <div class="btn-prev">
            <img src="assets/imgs/shape/arrow-6.svg" alt="Icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio section end -->
<!-- TEmp -->
<section class="logo__slider-area-2">
  <div class="swiper text__slider style-1 cxu-fade" data-ease="back">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="text">Technical Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Events Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Design Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Social Media and Marketing Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Relations and Outreach Team</div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- TEmp ends -->
<!-- Testimonial section start --
<section class="testimonial__area pt-140 pb-140">
  <div class="container">
    <div class="testimonial__wrapper">
      <div class="testimonial__left">
        <h3 class="sec-sub-title cxu-chars">(04) Testimonial</h3>
        <div class="testimonial__info cxu-fade" data-ease="power1">
          <img
            src="assets/imgs/tesitmonial/1.png"
            alt="Image"
            class="client-img"
          />
          <p>
            1.5k World wide customers <br />
            work with us
          </p>
        </div>
      </div>
      <div class="testimonial__right cxu-fade" data-ease="power1">
        <div class="cxu--testimonial style-1">
          <div class="swiper testimonial__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="item">
                  <img
                    src="assets/imgs/tesitmonial/quote.png"
                    alt="Quote"
                    class="quote"
                  />
                  <p>
                    We cater to the creative needs of the broadest range of
                    clients. Whether you are a for diev development agency
                    looking to outsource design work, a company in search of a
                    Product Designer.
                  </p>
                  <h3 class="client">Esther Howard</h3>
                  <h4 class="designation">Product Manager</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item">
                  <img
                    src="assets/imgs/tesitmonial/quote.png"
                    alt="Quote"
                    class="quote"
                  />
                  <p>
                    We cater to the creative needs of the broadest range of
                    clients. Whether you are a for diev development agency
                    looking to outsource design work, a company in search of a
                    Product Designer.
                  </p>
                  <h3 class="client">Esther Howard</h3>
                  <h4 class="designation">Product Manager</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item">
                  <img
                    src="assets/imgs/tesitmonial/quote.png"
                    alt="Quote"
                    class="quote"
                  />
                  <p>
                    We cater to the creative needs of the broadest range of
                    clients. Whether you are a for diev development agency
                    looking to outsource design work, a company in search of a
                    Product Designer.
                  </p>
                  <h3 class="client">Esther Howard</h3>
                  <h4 class="designation">Product Manager</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item">
                  <img
                    src="assets/imgs/tesitmonial/quote.png"
                    alt="Quote"
                    class="quote"
                  />
                  <p>
                    We cater to the creative needs of the broadest range of
                    clients. Whether you are a for diev development agency
                    looking to outsource design work, a company in search of a
                    Product Designer.
                  </p>
                  <h3 class="client">Esther Howard</h3>
                  <h4 class="designation">Product Manager</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item">
                  <img
                    src="assets/imgs/tesitmonial/quote.png"
                    alt="Quote"
                    class="quote"
                  />
                  <p>
                    We cater to the creative needs of the broadest range of
                    clients. Whether you are a for diev development agency
                    looking to outsource design work, a company in search of a
                    Product Designer.
                  </p>
                  <h3 class="client">Esther Howard</h3>
                  <h4 class="designation">Product Manager</h4>
                </div>
              </div>
            </div>
            <div class="navigation">
              <div class="btn-next">
                <img src="assets/imgs/shape/arrow-7.svg" alt="Icon" />
              </div>
              <div class="btn-prev">
                <img src="assets/imgs/shape/arrow-6.svg" alt="Icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial section end -->

<!-- Blog area start -->
<section class="portfolio__area-2 pt-140 pb-140">
  <div class="container">
    <div class="portfolio__top-2">
      <div class="portfolio__title">
        <h3 class="sec-title cxu-words">Blogs <br><h2>by Students</h2></h3>
      </div>
      <div class="portfolio__text cxu-fade" data-ease="back">
        <a href="javascript:void(0);" class="cxu-btn-border">See Details <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="portfolio__btm-2">
      <div class="cxu--portfolio style-2">
        <div class="swiper portfolio__slider-2">
          <div class="swiper-wrapper cxu-fade" data-ease="back">
            <div class="swiper-slide">
              <div class="portfolio-item">
                <div class="thumb">
                  <a href="javascript:void(0);"><img src="assets/imgs/portfolio/8.jpg" alt="Image"
                      data-speed="0.9"></a>
                </div>
                <ul>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">Author</a></li>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">#_Tag-Domain</a></li>
                </ul>
                <h3 class="title"><a href="javascript:void(0);">Blog_Title</a></h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="portfolio-item">
                <div class="thumb">
                  <a href="javascript:void(0);"><img src="assets/imgs/portfolio/8.jpg" alt="Image"
                      data-speed="0.9"></a>
                </div>
                <ul>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">Author</a></li>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">#_Tag-Domain</a></li>
                </ul>
                <h3 class="title"><a href="javascript:void(0);">Blog_Title</a></h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="portfolio-item">
                <div class="thumb">
                  <a href="javascript:void(0);"><img src="assets/imgs/portfolio/8.jpg" alt="Image"
                      data-speed="0.9"></a>
                </div>
                <ul>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">Author</a></li>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">#_Tag-Domain</a></li>
                </ul>
                <h3 class="title"><a href="javascript:void(0);">Blog_Title</a></h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="portfolio-item">
                <div class="thumb">
                  <a href="javascript:void(0);"><img src="assets/imgs/portfolio/8.jpg" alt="Image"
                      data-speed="0.9"></a>
                </div>
                <ul>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">Author</a></li>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">#_Tag-Domain</a></li>
                </ul>
                <h3 class="title"><a href="javascript:void(0);">Reow - Illustration</a></h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="portfolio-item">
                <div class="thumb">
                  <a href="javascript:void(0);"><img src="assets/imgs/portfolio/8.jpg" alt="Image"
                      data-speed="0.9"></a>
                </div>
                <ul>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">Author</a></li>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">#_Tag-Domain</a></li>
                </ul>
                <h3 class="title"><a href="javascript:void(0);">Blog_Title</a></h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="portfolio-item">
                <div class="thumb">
                  <a href="javascript:void(0);"><img src="assets/imgs/portfolio/8.jpg" alt="Image"
                      data-speed="0.9"></a>
                </div>
                <ul>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">Author</a></li>
                  <li><a href="javascript:void(0);" class="cxu-btn-border">#_Tag-Domain</a></li>
                </ul>
                <h3 class="title"><a href="javascript:void(0);">Reow - Illustration</a></h3>
              </div>
            </div>
          </div>
          <!-- <div class="navigation cxu-fade" data-ease="back">
            <div class="btn-next"><img src="assets/imgs/shape/arrow-7.svg" alt="Icon"></div>
            <div class="btn-prev"><img src="assets/imgs/shape/arrow-6.svg" alt="Icon"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog area end -->

<!-- CTA section start -->
<section class="cta__area pt-150 pb-150">
  <div class="container">
    <div class="cta__content">
      <h2 class="sec-title cxu-lines">
        Let's Create an Amazing Project Together!
      </h2>
      <div class="cxu-fade" data-ease="bounce">
        <a class="modal__btn style-2" href="contact.html">
          <img src="assets/imgs/shape/contact.png" alt="Icon" class="image" />
          <div class="icon">
            <div class="icon-1">
              <img src="assets/imgs/shape/arrow-4.svg" alt="Icon" />
            </div>
            <div class="icon-2">
              <img src="assets/imgs/shape/arrow-4.svg" alt="Icon" />
            </div>
          </div>
        </a>
      </div>
      <img
        src="assets/imgs/shape/cta-5.png"
        alt="Shape"
        class="shape-5"
        data-speed="0.9"
      />
    </div>
  </div>

  <img
    src="assets/imgs/shape/cta.png"
    alt="Shape"
    class="shape"
    data-speed="0.89"
  />
  <img
    src="assets/imgs/shape/cta-2.png"
    alt="Shape"
    class="shape-2"
    data-speed="0.9"
  />
  <img
    src="assets/imgs/shape/cta-3.png"
    alt="Shape"
    class="shape-3"
    data-speed="0.95"
  />
  <img src="assets/imgs/shape/cta-4.png" alt="Shape" class="shape-4" />
</section>
<!-- CTA section end -->

<!-- Logo slider section start -->
<section class="logo__slider-area-2">
  <div class="swiper text__slider style-1 cxu-fade" data-ease="back">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="text">Technical Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Events Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Design Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Social Media and Marketing Team</div>
      </div>
      <div class="swiper-slide">
        <div class="shape">
          <img src="assets/imgs/shape/star.png" alt="Shape" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="text">Relations and Outreach Team</div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- Logo slider section end -->
{% endblock content %}
