{% extends "base.html" %}
{% block content %}
<section
  class="breadcrumb__area">
  <div class="container">
    <div class="breadcrumb__content">
      <p class="cxu-words">Home - Team</p>
      <h1 class="breadcrumb__title cxu-chars">Team</h1>
    </div>
  </div>
</section>
<!-- Breadcrumb section end -->

<!-- Team area start -->
<section class="team__area pt-140 pb-140">
  <div class="container">
    <div class="team__top">
      <h2 class="sec-title-2 cxu-words">
        Meet our <br />
        creative team
      </h2>
    </div>
    <div class="cxu--team style-1">
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/1.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Ronald Richards</h3>
          <h4 class="designation">Product Designer</h4>
          <ul class="social-media">
            <li>
              <a href="https://www.facebook.com/codexup" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/2.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Guy Hawkins</h3>
          <h4 class="designation">Sr. UI/UX Designer</h4>
          <ul class="social-media">
            <li>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/3.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Obila Maxen</h3>
          <h4 class="designation">Graphic Designer</h4>
          <ul class="social-media">
            <li>
              <a href="https://www.facebook.com/codexup" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/4.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Jacob Jones</h3>
          <h4 class="designation">Web Developer</h4>
          <ul class="social-media">
            <li>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/1.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Ronald Richards</h3>
          <h4 class="designation">Product Designer</h4>
          <ul class="social-media">
            <li>
              <a href="https://www.facebook.com/codexup" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/2.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Guy Hawkins</h3>
          <h4 class="designation">Sr. UI/UX Designer</h4>
          <ul class="social-media">
            <li>
              <a href="https://www.facebook.com/codexup" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/3.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Obila Maxen</h3>
          <h4 class="designation">Graphic Designer</h4>
          <ul class="social-media">
            <li>
              <a href="https://www.facebook.com/codexup" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="member cxu-fade" data-ease="back">
        <div class="image">
          <img src="assets/imgs/team/4.png" alt="Image" />
        </div>
        <div class="bio">
          <h3 class="name">Jacob Jones</h3>
          <h4 class="designation">Web Developer</h4>
          <ul class="social-media">
            <li>
              <a href="https://www.facebook.com/codexup" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}